.App {
  text-align: center;
}

.chatBox {
  min-height: 300px;
  min-width: 300px;
  width: 300px;
  height: 300px;
  margin: auto;
  border: 1px solid lightgray;
  overflow-y: auto;
  box-sizing: border-box;
}

.sendMsgBox {
  min-width: 300px;
  width: 300px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 80% 20%;
  border: 1px solid lightgray;
}

.msgBox {
  display: flex;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
  clear: both;
}

.msgBox p:first-child {
  padding: 8px 15px;
  max-width: 200px;
  width: max-content;
  background-color: lightgray;
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
}

.sendMsgBox input {
  padding: 10px;
  outline: none;
  border: none;
}

.sendMsgBox button {
  border: none;
}

.onlineBox {
  min-width: 300px;
  width: 300px;
  margin: 10px auto;
  border: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.onlineBox p {
  border: 1px solid lightgray;
  padding: 5px 10px;
  margin: 0px;
}
